<% @users.each do |user| %>
<div class="who-follow-profile">
  <div class="picture">
    <%= link_to user_path(user), class: 'user' do %>
      <% unless user[:Photo].nil? %>
        <%= image_tag user.Photo.thumb.url, class: 'photo' %>
      <% else %>
        <%= gravatar_for user, size: 50 %>
      <% end %>
      <h6><%= user.Fullname %></h6>
    <% end %>
  </div>  
</div>
<% end %>