    <% if @user.errors.any? %>
    <div class="container w-50">
        <div class="alert alert-danger">
            <div class="panel-heading">
                <h4>
                    <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
                <div class="panel-body">
                    <ul>
                        <% @user.errors.full_messages.each do |message| %>
                        <li>
                            <%= message %>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<% end %>