body{
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;

}

.contain{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 65%);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  /* optional size in px or %: */
  width: 500px;
}

.contain-signup{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 38%);
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  /* optional size in px or %: */
  width: 500px; 
}

.error{
  font-size: 12px;
}

.btn-color{
  background-color: #353b48;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #40739e;
  border-color: #353b48; /*set the color you want here*/
}