.userright {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.userleft {
  width: 50%;
  background-color: #353b48;
  height: 100vh;
}

.btn-color{
  background-color: #353b48;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #40739e;
  border-color: #353b48; /*set the color you want here*/
}