<% if notice %>
	<div class='alert alert-success text-center w-100'>
        <button type="button" class="close ml-2" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
		<%= notice %>
	</div>
<% end %>

<% if alert %>
	<div class='alert alert-danger text-left w-100'>
		<%= alert %>
	</div>
<% end %>